{% extends "admin/base.html" %}
{% load static %}
{% block breadcrumbs %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "nodesk_admin/nodesk_admin.css" %}" />
{% endblock %}

{% load i18n %}

{% block title %}{{ title }} | {% trans 'nodesk configuration site' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'nodesk configuration' %}</h1>
{% endblock %}

{% block content %}
<div id="content-main">

<div class="module aligned">
    <h2>server administration</h2>
    <form action="/admin/nodesk/reload_server/" method="post" class="">
    {% csrf_token %}
    
    <div class="submit-row" style="background:none;border:none;">
        <input class="default" type="submit" name="reload_server" value="reload server" style="float:none; display:block; width:150px; margin-left: auto; margin-right: auto">
    </div>
    </form>
</div>

<form id="ldap_save" action="/admin/nodesk/ldap_config_save/" method="post">
    {% csrf_token %}
<fieldset class="module aligned {{ ldap_form.classes }}">
    {% if ldap_form.name %}<h2>{{ ldap_form.name }}</h2>{% endif %}
    {% if ldap_form.description %}
        <div class="description">{{ ldap_form.description|safe }}</div>
    {% endif %}
    {% for field in ldap_form %}
        <div class="form-row{% if field.field.name %} field-{{ field.field.name }}{% endif %}">
            {% if ldap_form.fields|length_is:'1' %}{{ ldap_form.errors }}{% endif %}
                <label class="required" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {% if field.field.help_text %}
                    <p class="help">{{ field.field.help_text|safe }}</p>
                {% endif %}
        </div>
    {% endfor %}
</fieldset>
<div class="submit-row">
    <input class="" type="submit" name="default_save" value="save with default values and reload server">
    <input class="default" type="submit" name="custom_save" value="save and reload server">
</div>
</form>


<form id="template_config_save" action="/admin/nodesk/template_config_save/" method="post">
    {% csrf_token %}

<fieldset class="module aligned {{ template_config_formset.classes }}">
    <h2>Templates configuration</h2>
    {% if template_config_formset.description %}
        <div class="description">{{ template_config_formset.description|safe }}</div>
    {% endif %}
    {{ template_config_formset.management_form }}
<table id="formset" class="form">
{% for form in template_config_formset.forms %}
    {% if forloop.first %}
    <thead><tr>
        {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
        {% endfor %}
    </tr></thead>
    {% endif %}
    <tr class="form-row">
    {% for field in form.visible_fields %}
        <td>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        {{ field.errors.as_ul }}
        {{ field }}
    </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
</fieldset>
<div class="submit-row">
    <input class="default" type="submit" name="save" value="save and reload server">
</div>
</form>



<form id="template_save" action="/admin/nodesk/template_save/" method="post">
    {% csrf_token %}
<fieldset class="module aligned {{ template_form.classes }}">
    {% if template_form.name %}<h2>{{ template_form.name }}</h2>{% endif %}
    {% if template_form.description %}
        <div class="description">{{ template_form.description|safe }}</div>
        {% endif %}
    <p class="form-row" style="color:#333 !important; font-weight:bold !important; margin: 6px 0px; padding-left:10px; font-size:15px">create the yaml of a template with the <a href="/admin/nodesk/template_creator/">template creator</a></p>
    {% for field in template_form %}
        <div class="form-row{% if field.field.name %} field-{{ field.field.name }}{% endif %}">
            {% if template_form.fields|length_is:'1' %}{{ template_form.errors }}{% endif %}
                <label class="required" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {% if field.field.help_text %}
                    <p class="help">{{ field.field.help_text|safe }}</p>
                {% endif %}
        </div>
    {% endfor %}
</fieldset>
<div class="submit-row">
    <input class="default" type="submit" name="template_save" value="create template and reload server">
</div>
</form>
</div>
{% endblock %}
