{% extends "admin/base.html" %}
{% load static %}
{% block breadcrumbs %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "/static/nodesk_admin/nodesk_admin.css" %}" />
{% endblock %}

{% load i18n %}

{% block title %}{{ title }} | {% trans 'NoDesk configuration site' %}{% endblock %}
{% block extrahead %}
{{ block.super }}
<script>
    setTimeout(function(){window.location.href = "{{redirect_url}}";} , 4000);
</script>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'NoDesk configuration' %}</h1>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="{% if error %}error{% elif success %}success{% else %}warning{% endif %}">
        {{ content }}
    </div>
    <div class="redirect">
        You will be redirect to the NoDesk admin page in 4 seconds. If not, <a href="{{redirect_url}}">click here !</a>
    </div>
</div>
{% endblock %}
